[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-CursoUdemyMP/client-gataway
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-CursoUdemyMP/products-microservices
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-CursoUdemyMP/orders-microservice
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-CursoUdemyMP/payments-microservice
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-CursoUdemyMP/auth-microservice
